@import url("./vars.css");

.aside {
  min-width: var(--aside-width);
  height: 100vh;
  padding: 48px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: start;
  margin-bottom: 48px;
}

.logo__img {
  margin-right: 9px;
  width: 48px;
  height: 48px;
  background-color: #e78ddb;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  pointer-events: none;
}
.logo__text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  width: 93px;
  height: 16px;
  pointer-events: none;
}

.aside__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1a1a1a;
  margin-bottom: 24px;
}

@media (max-width: 670px) {
  .aside {
    min-width: 100%;
  }
}

@media (max-width: 422px) {
  .aside {
    padding: 20px;
  }
}